<mat-card>
  <mat-card-title>Sign Up</mat-card-title>
  <form (ngSubmit)="signUp()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" type="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign Up</button>
    <button mat-raised-button color="" (click)="signUpWithGoogle()">Sign Up with Google</button>
  </form>

</mat-card>
