<mat-card>
  <mat-card-content>
    <!-- Display user information here -->
    <h1 class="card-title">Welcome, {{ user.displayName || user.email }}</h1>
    <p class="card-text">Email: {{ user.email }}</p>
    <p *ngIf="user.displayName" class="card-text">Name: {{ user.displayName }}</p>
    <p *ngIf="user.photoURL" class="card-text">
      <img [src]="user.photoURL" alt="{{ user.displayName }}" width="100" />
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="backToQuizSettings()">Start Quiz</button>
    <a mat-button routerLink="/quiz-results">Quiz Results</a>
    <button mat-raised-button color="warn" (click)="disconnect()">Disconnect</button>
  </mat-card-actions>
</mat-card>


